PORT=5000
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=minlish

# MongoDB
MONGODB_URI=mongodb://localhost:27017/minlish

# JWT
JWT_SECRET=your_super_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# MAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_mail
MAIL_PASS=your_password

# S3
BUCKET_NAME=
BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=